.title__h1 {
  font-weight: 600;
  font-size: 2vw;
  line-height: 2.5vw;
  display: flex;
  align-items: center;
}
.title__h2 {
  font-weight: 600;
  font-size: 4vw;
  line-height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.title__h4 {
  font-size: 0.9vw;
  line-height: 1vw;
  font-style: normal;
}
.button {
  background: linear-gradient(93.82deg, #7D8FF9 5.29%, #325BC2 107.98%);
  border-radius: 5px;
  padding: 1.1vw 2.48vw;
  margin-top: 2.3vw;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 1vw;
  display: flex;
  align-items: center;
  text-align: center;
}
